<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="FIFACOIN">
    <meta name="author" content="WeiRuiDaoCao">
    <meta name="keywords" content="FIFACOIN">
    <meta name="description" content="FIFACOIN">

    <link rel="icon" href="favicon.ico">

    <title>FIFACOIN.COM</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- iconfont CSS -->
    <!--     <link rel="stylesheet" href="css/iconfont/iconfont.css"> -->
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_s08w5ahiqmrq9f6r.css">

    <!-- Custom styles for this template -->
    <link href="../css/global.css" rel="stylesheet">
    <link href="../css/animation.css" rel="stylesheet">
    <link href="../css/pack.css" rel="stylesheet">
    <link href="../css/fut-fifa18.css" rel="stylesheet">
</head>

<body>
    <!-- fifa-masthead start -->
    <div class="fifa-masthead">
        <div class="container">

            <!-- masthead-top start -->
            <div class="masthead-top clearfix">
                <ul class="clearfix">
                    <li>
                        <div class="signin"><a href=""><i class="icon iconfont icon-guanjiaowangtubiao01"></i><span>Sign in</span></a></div>
                    </li>

                    <li>
                        <span class="separate"></span>
                    </li>

                    <li>
                        <ul class="language-show">
                            <!-- <li><a href="###" title="USA"><i class="language-usa"></i><span class="show">USA</span></a></li> -->
                            <li><a href="###" title="DE"><i class="language-de"></i><span>DE</span><span class="effect"></span></a></li>
                            <li><a href="###" title="IT"><i class="language-it"></i><span>IT</span><span class="effect"></span></a></li>
                            <li><a href="###" title="FR"><i class="language-fr"></i><span>FR</span><span class="effect"></span></a></li>
                            <!-- <li><a href="###" title="AR"><i class="language-ar"></i><span>AR</span><span class="effect"></span></a></li> -->
                            <li><a href="###" title="AR"><i class="language-ar01"></i><span>AR</span><span class="effect"></span></a></li>
                        </ul>
                    </li>

                    <li>
                        <span class="separate"></span>
                    </li>

                    <li>
                        <div class="select-language dropdown">
                            <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown"><span>USD</span><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="">EUR</a></li>
                                <li><a href="">GBP</a></li>
                                <li><a href="">AUD</a></li>
                            </ul>
                        </div>
                    </li>

                </ul>
            </div>
            <!-- masthead-top end -->

            <!-- masthead-bottom start -->
            <div class="masthead-bottom">
                <div class="logo">
                    <a href="../"><img src="../images/logo/header-logo.png" alt="FIFACOIN-LOGO"></a>
                </div>
            </div>
            <!-- masthead-bottom end -->

        </div>
    </div>
    <!-- fifa-masthead end -->

    <!-- fifa-header start -->
    <div class="fifa-header">

        <!-- nav start -->
        <nav class="navbar navbar-default bg-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                        aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">FIFA17 Coins2.0 <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">FFIFA17 Coins<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                            </ul>
                        </li>
                        <li><a href="#contact">FIFA17 packs</a></li>
                        <li><a href="#contact">How to Buy</a></li>
                        <li><a href="#contact">Sponsorship</a></li>
                        <li><a href="#contact">Affiliate</a></li>
                        <li><a href="#contact">FAQ</a></li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </nav>
        <!-- nav end -->

    </div>
    <!-- fifa-header end -->

    <!-- breadcrumb start -->
    <div class="bg-animation">
        <!-- breadcrumb end -->

        <main>

            <div class="">

                <!-- content start -->
                <div class="a-content pack3" style="height: 1000px;">

                    <!-- light-across start -->
                    <img src="/" alt="" class="light-across" id="light-across-js">
                    <!-- light-across end -->
                    <div class="container" style="position: relative">
                        <div class="playercards-container">
                            <div class="value-info clearfix">
                                <div class="value-title">
                                    You Pack Value
                                </div>
                                <div class="value" id="score">
                                    0
                                </div>
                                <div class="b-panel">
                                    You PS4 Balance: <span class="text-orange">2,778,938</span>
                                </div>
                            </div>
                            <div class="btn-group-animation">
                                <button type="button" class="btn-animation btn-died" id="btn-back">Back</button>
                                <button type="button" class="btn-animation btn-animation-color" id="btn-next">Next Pack</button>
                            </div>
                            <div class="playercard_list">
                                <div class="animation-container">
                                    <!-- <img class="flash-img" src="../images/packs/flash.png" alt="">  
                                  <div class="rotation-img-warp animated zoomIn">
                                    <img class="rotation" src="../images/packs/light-rotation.png" alt="">
                                </div>   -->
                                </div>
                                <div id="playercard-list-js">
                                    <ul class="player-cards clearfix">
                                        <li style="top: -240px;">
                                            <div class="ut-item-container_header" ng-swipe-right="prevTemplate(templateView)" ng-swipe-left="nextTemplate(templateView)"
                                                element-text-scroll=".ut-item_heading--main">
                                                <div class="ut-item ut-item--big ut-item--big-bg-rare_gold ut-item--player">
                                                    <div class="ut-item_meta">
                                                        <span class="ut-item_stat ut-item_stat--num ut-item_rating ng-binding" ng-bind="::itemData.rating">83</span>
                                                        <span class="ut-item_stat ut-item_stat--label ut-item_position ng-binding" ng-bind="::itemData.position">CM</span>
                                                        <img class="ut-item_crest" alt="Item crest" src="../images/packs/clubbadge.png">
                                                        <img class="ut-item_flag" alt="Item flag" src="../images/packs/flag.png">
                                                    </div>
                                                    <img class="ut-item_headshot" alt="Item Headshot" src="../images/packs/player.png">
                                                    <h2 class="ut-item_heading ut-item_heading--main ng-binding" ng-bind="::itemData.name || '--'">Bruno</h2>
                                                    <ut-cycle-view template-view="view.selectedViewOption.id" template-id-names="summary,player-info,status,chemistry-style">
                                                        <div class="ut-item_view ut-item_view0 ut-item_view--summary ng-scope">
                                                            <table class="ut-item_attr-data">
                                                                <tbody>
                                                                    <!-- ngRepeat: (key, itemAttribute) in itemData.attributes track by $index -->
                                                                    <!-- ngIf: $even -->
                                                                    <tr class="ut-item_attr-data-row ng-scope" ng-repeat="(key, itemAttribute) in itemData.attributes track by $index" ng-if="$even">
                                                                        <td class="ut-item_attr-data-cell ut-item_stat ut-item_attr-data-cell ut-item_stat--num ng-binding">52</td>
                                                                        <td class="ut-item_attr-data-cell ut-item_stat ut-item_attr-data-cell ut-item_stat--label ng-binding" ng-bind="itemAttribute.name">PAC</td>
                                                                        <td class="ut-item_attr-data-cell ut-item_stat ut-item_attr-data-cell ut-item_stat--num ng-binding" ng-bind="itemData.attributes[key+1].value">74</td>
                                                                        <td class="ut-item_attr-data-cell ut-item_stat ut-item_attr-data-cell ut-item_stat--label ng-binding">DRI</td>
                                                                    </tr>
                                                                    <!-- end ngIf: $even -->
                                                                    <!-- end ngRepeat: (key, itemAttribute) in itemData.attributes track by $index -->
                                                                    <!-- ngIf: $even -->
                                                                    <!-- end ngRepeat: (key, itemAttribute) in itemData.attributes track by $index -->
                                                                    <!-- ngIf: $even -->
                                                                    <tr class="ut-item_attr-data-row ng-scope" ng-repeat="(key, itemAttribute) in itemData.attributes track by $index" ng-if="$even">
                                                                        <td class="ut-item_attr-data-cell ut-item_stat ut-item_attr-data-cell ut-item_stat--num ng-binding">72</td>
                                                                        <td class="ut-item_attr-data-cell ut-item_stat ut-item_attr-data-cell ut-item_stat--label ng-binding" ng-bind="itemAttribute.name">SHO</td>
                                                                        <td class="ut-item_attr-data-cell ut-item_stat ut-item_attr-data-cell ut-item_stat--num ng-binding" ng-bind="itemData.attributes[key+1].value">78</td>
                                                                        <td class="ut-item_attr-data-cell ut-item_stat ut-item_attr-data-cell ut-item_stat--label ng-binding">DEF</td>
                                                                    </tr>
                                                                    <!-- end ngIf: $even -->
                                                                    <!-- end ngRepeat: (key, itemAttribute) in itemData.attributes track by $index -->
                                                                    <!-- ngIf: $even -->
                                                                    <!-- end ngRepeat: (key, itemAttribute) in itemData.attributes track by $index -->
                                                                    <!-- ngIf: $even -->
                                                                    <tr class="ut-item_attr-data-row ng-scope" ng-repeat="(key, itemAttribute) in itemData.attributes track by $index" ng-if="$even">
                                                                        <td class="ut-item_attr-data-cell ut-item_stat ut-item_attr-data-cell ut-item_stat--num ng-binding">78</td>
                                                                        <td class="ut-item_attr-data-cell ut-item_stat ut-item_attr-data-cell ut-item_stat--label ng-binding" ng-bind="itemAttribute.name">PAS</td>
                                                                        <td class="ut-item_attr-data-cell ut-item_stat ut-item_attr-data-cell ut-item_stat--num ng-binding" ng-bind="itemData.attributes[key+1].value">76</td>
                                                                        <td class="ut-item_attr-data-cell ut-item_stat ut-item_attr-data-cell ut-item_stat--label ng-binding">PHY</td>
                                                                    </tr>
                                                                    <!-- end ngIf: $even -->
                                                                    <!-- end ngRepeat: (key, itemAttribute) in itemData.attributes track by $index -->
                                                                    <!-- ngIf: $even -->
                                                                    <!-- end ngRepeat: (key, itemAttribute) in itemData.attributes track by $index -->
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </ut-cycle-view>
                                                </div>
                                            </div>
                                            <div class="text-center">
                                                <div class="value-title">Value</div>
                                                <div class="valuecoints">1.789 Coins</div>
                                            </div>
                                        </li>

                                        <li style="top: -240px;">
                                            <div class="ut-item-container_header" ng-swipe-right="prevTemplate(templateView)" ng-swipe-left="nextTemplate(templateView)"
                                                element-text-scroll=".ut-item_heading--main">
                                                <div class="ut-item ut-item--big ut-item--big-bg-rare_gold ut-item--player">
                                                    <div class="ut-item_meta">
                                                        <span class="ut-item_stat ut-item_stat--num ut-item_rating ng-binding" ng-bind="::itemData.rating">83</span>
                                                        <span class="ut-item_stat ut-item_stat--label ut-item_position ng-binding" ng-bind="::itemData.position">CM</span>
                                                        <img class="ut-item_crest" alt="Item crest" src="../images/packs/clubbadge.png">
                                                        <img class="ut-item_flag" alt="Item flag" src="../images/packs/flag.png">
                                                    </div>
                                                    <img class="ut-item_headshot" alt="Item Headshot" src="../images/packs/player.png">
                                                    <h2 class="ut-item_heading ut-item_heading--main ng-binding" ng-bind="::itemData.name || '--'">Bruno</h2>
                                                    <ut-cycle-view template-view="view.selectedViewOption.id" template-id-names="summary,player-info,status,chemistry-style">
                                                        <div class="ut-item_view ut-item_view0 ut-item_view--summary ng-scope">
                                                            <table class="ut-item_attr-data">
                                                                <tbody>
                                                                    <!-- ngRepeat: (key, itemAttribute) in itemData.attributes track by $index -->
                                                                    <!-- ngIf: $even -->
                                                                    <tr class="ut-item_attr-data-row ng-scope" ng-repeat="(key, itemAttribute) in itemData.attributes track by $index" ng-if="$even">
                                                                        <td class="ut-item_attr-data-cell ut-item_stat ut-item_attr-data-cell ut-item_stat--num ng-binding">52</td>
                                                                        <td class="ut-item_attr-data-cell ut-item_stat ut-item_attr-data-cell ut-item_stat--label ng-binding" ng-bind="itemAttribute.name">PAC</td>
                                                                        <td class="ut-item_attr-data-cell ut-item_stat ut-item_attr-data-cell ut-item_stat--num ng-binding" ng-bind="itemData.attributes[key+1].value">74</td>
                                                                        <td class="ut-item_attr-data-cell ut-item_stat ut-item_attr-data-cell ut-item_stat--label ng-binding">DRI</td>
                                                                    </tr>
                                                                    <!-- end ngIf: $even -->
                                                                    <!-- end ngRepeat: (key, itemAttribute) in itemData.attributes track by $index -->
                                                                    <!-- ngIf: $even -->
                                                                    <!-- end ngRepeat: (key, itemAttribute) in itemData.attributes track by $index -->
                                                                    <!-- ngIf: $even -->
                                                                    <tr class="ut-item_attr-data-row ng-scope" ng-repeat="(key, itemAttribute) in itemData.attributes track by $index" ng-if="$even">
                                                                        <td class="ut-item_attr-data-cell ut-item_stat ut-item_attr-data-cell ut-item_stat--num ng-binding">72</td>
                                                                        <td class="ut-item_attr-data-cell ut-item_stat ut-item_attr-data-cell ut-item_stat--label ng-binding" ng-bind="itemAttribute.name">SHO</td>
                                                                        <td class="ut-item_attr-data-cell ut-item_stat ut-item_attr-data-cell ut-item_stat--num ng-binding" ng-bind="itemData.attributes[key+1].value">78</td>
                                                                        <td class="ut-item_attr-data-cell ut-item_stat ut-item_attr-data-cell ut-item_stat--label ng-binding">DEF</td>
                                                                    </tr>
                                                                    <!-- end ngIf: $even -->
                                                                    <!-- end ngRepeat: (key, itemAttribute) in itemData.attributes track by $index -->
                                                                    <!-- ngIf: $even -->
                                                                    <!-- end ngRepeat: (key, itemAttribute) in itemData.attributes track by $index -->
                                                                    <!-- ngIf: $even -->
                                                                    <tr class="ut-item_attr-data-row ng-scope" ng-repeat="(key, itemAttribute) in itemData.attributes track by $index" ng-if="$even">
                                                                        <td class="ut-item_attr-data-cell ut-item_stat ut-item_attr-data-cell ut-item_stat--num ng-binding">78</td>
                                                                        <td class="ut-item_attr-data-cell ut-item_stat ut-item_attr-data-cell ut-item_stat--label ng-binding" ng-bind="itemAttribute.name">PAS</td>
                                                                        <td class="ut-item_attr-data-cell ut-item_stat ut-item_attr-data-cell ut-item_stat--num ng-binding" ng-bind="itemData.attributes[key+1].value">76</td>
                                                                        <td class="ut-item_attr-data-cell ut-item_stat ut-item_attr-data-cell ut-item_stat--label ng-binding">PHY</td>
                                                                    </tr>
                                                                    <!-- end ngIf: $even -->
                                                                    <!-- end ngRepeat: (key, itemAttribute) in itemData.attributes track by $index -->
                                                                    <!-- ngIf: $even -->
                                                                    <!-- end ngRepeat: (key, itemAttribute) in itemData.attributes track by $index -->
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </ut-cycle-view>
                                                    <i class="card-light"></i>
                                                    <!-- <img class="card-hl" src="../images/packs/highlights.gif" alt=""> -->
                                                </div>
                                            </div>
                                            <div class="text-center">
                                                <div class="value-title">Value</div>
                                                <div class="valuecoints">1.789 Coins</div>
                                            </div>
                                        </li>

                                        <li style="top: -240px;">
                                            <div class="ut-item-container_header" ng-swipe-right="prevTemplate(templateView)" ng-swipe-left="nextTemplate(templateView)"
                                                element-text-scroll=".ut-item_heading--main">
                                                <div class="ut-item ut-item--big ut-item--big-bg-rare_gold ut-item--player">
                                                    <div class="ut-item_meta">
                                                        <span class="ut-item_stat ut-item_stat--num ut-item_rating ng-binding" ng-bind="::itemData.rating">83</span>
                                                        <span class="ut-item_stat ut-item_stat--label ut-item_position ng-binding" ng-bind="::itemData.position">CM</span>
                                                        <img class="ut-item_crest" alt="Item crest" src="../images/packs/clubbadge.png">
                                                        <img class="ut-item_flag" alt="Item flag" src="../images/packs/flag.png">
                                                    </div>
                                                    <img class="ut-item_headshot" alt="Item Headshot" src="../images/packs/player.png">
                                                    <h2 class="ut-item_heading ut-item_heading--main ng-binding" ng-bind="::itemData.name || '--'">Bruno</h2>
                                                    <ut-cycle-view template-view="view.selectedViewOption.id" template-id-names="summary,player-info,status,chemistry-style">
                                                        <div class="ut-item_view ut-item_view0 ut-item_view--summary ng-scope">
                                                            <table class="ut-item_attr-data">
                                                                <tbody>
                                                                    <!-- ngRepeat: (key, itemAttribute) in itemData.attributes track by $index -->
                                                                    <!-- ngIf: $even -->
                                                                    <tr class="ut-item_attr-data-row ng-scope" ng-repeat="(key, itemAttribute) in itemData.attributes track by $index" ng-if="$even">
                                                                        <td class="ut-item_attr-data-cell ut-item_stat ut-item_attr-data-cell ut-item_stat--num ng-binding">52</td>
                                                                        <td class="ut-item_attr-data-cell ut-item_stat ut-item_attr-data-cell ut-item_stat--label ng-binding" ng-bind="itemAttribute.name">PAC</td>
                                                                        <td class="ut-item_attr-data-cell ut-item_stat ut-item_attr-data-cell ut-item_stat--num ng-binding" ng-bind="itemData.attributes[key+1].value">74</td>
                                                                        <td class="ut-item_attr-data-cell ut-item_stat ut-item_attr-data-cell ut-item_stat--label ng-binding">DRI</td>
                                                                    </tr>
                                                                    <!-- end ngIf: $even -->
                                                                    <!-- end ngRepeat: (key, itemAttribute) in itemData.attributes track by $index -->
                                                                    <!-- ngIf: $even -->
                                                                    <!-- end ngRepeat: (key, itemAttribute) in itemData.attributes track by $index -->
                                                                    <!-- ngIf: $even -->
                                                                    <tr class="ut-item_attr-data-row ng-scope" ng-repeat="(key, itemAttribute) in itemData.attributes track by $index" ng-if="$even">
                                                                        <td class="ut-item_attr-data-cell ut-item_stat ut-item_attr-data-cell ut-item_stat--num ng-binding">72</td>
                                                                        <td class="ut-item_attr-data-cell ut-item_stat ut-item_attr-data-cell ut-item_stat--label ng-binding" ng-bind="itemAttribute.name">SHO</td>
                                                                        <td class="ut-item_attr-data-cell ut-item_stat ut-item_attr-data-cell ut-item_stat--num ng-binding" ng-bind="itemData.attributes[key+1].value">78</td>
                                                                        <td class="ut-item_attr-data-cell ut-item_stat ut-item_attr-data-cell ut-item_stat--label ng-binding">DEF</td>
                                                                    </tr>
                                                                    <!-- end ngIf: $even -->
                                                                    <!-- end ngRepeat: (key, itemAttribute) in itemData.attributes track by $index -->
                                                                    <!-- ngIf: $even -->
                                                                    <!-- end ngRepeat: (key, itemAttribute) in itemData.attributes track by $index -->
                                                                    <!-- ngIf: $even -->
                                                                    <tr class="ut-item_attr-data-row ng-scope" ng-repeat="(key, itemAttribute) in itemData.attributes track by $index" ng-if="$even">
                                                                        <td class="ut-item_attr-data-cell ut-item_stat ut-item_attr-data-cell ut-item_stat--num ng-binding">78</td>
                                                                        <td class="ut-item_attr-data-cell ut-item_stat ut-item_attr-data-cell ut-item_stat--label ng-binding" ng-bind="itemAttribute.name">PAS</td>
                                                                        <td class="ut-item_attr-data-cell ut-item_stat ut-item_attr-data-cell ut-item_stat--num ng-binding" ng-bind="itemData.attributes[key+1].value">76</td>
                                                                        <td class="ut-item_attr-data-cell ut-item_stat ut-item_attr-data-cell ut-item_stat--label ng-binding">PHY</td>
                                                                    </tr>
                                                                    <!-- end ngIf: $even -->
                                                                    <!-- end ngRepeat: (key, itemAttribute) in itemData.attributes track by $index -->
                                                                    <!-- ngIf: $even -->
                                                                    <!-- end ngRepeat: (key, itemAttribute) in itemData.attributes track by $index -->
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </ut-cycle-view>
                                                </div>
                                            </div>
                                            <div class="text-center">
                                                <div class="value-title">Value</div>
                                                <div class="valuecoints">1.789 Coins</div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- content end -->

            </div>

        </main>
    </div>

    <div class="modal fade playercard-modal" id="playercard-modal" tabindex="-1" role="dialog" aria-labelledby="playercard-modal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
                    <h4 class="modal-title" id="exampleModalLabel">CLAIM THE REWARD</h4>
                </div>
                <div class="modal-body">
                    <div class="playercard-bg">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="fifa-service">
            <div class="container">
                <ul>
                    <li>
                        <div class="service-box">
                            <div class="service-box-left">
                                <i class="icon iconfont icon-manyi"></i>
                            </div>
                            <div class="service-box-right">
                                <h4>99.9%<br>Satisfaction</h4>
                                <span>More than 1,200,000 FIFA players have used our services. </span>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="service-box">
                            <div class="service-box-left">
                                <i class="icon iconfont icon-rocket"></i>
                            </div>
                            <div class="service-box-right">
                                <h4>Fast<br>Delivery</h4>
                                <span>At least 93% of orders are completed in less than 12 minutes!</span>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="service-box">
                            <div class="service-box-left">
                                <i class="icon iconfont icon-anquan"></i>
                            </div>
                            <div class="service-box-right">
                                <h4>Secure<br>Transaction</h4>
                                <span>100% secure online payment system proved by 1.2 million users.</span>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="service-box">
                            <div class="service-box-left">
                                <i class="icon iconfont icon-tuikuan"></i>
                            </div>
                            <div class="service-box-right">
                                <h4>Refund<br>Guaranteed</h4>
                                <span>Full money back if you want to cancel your orders!</span>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="service-box">
                            <div class="service-box-left">
                                <i class="icon iconfont icon-liaotian"></i>
                            </div>
                            <div class="service-box-right">
                                <h4>24/7<br>Live chat</h4>
                                <span>Live answers to your questions, 24/7.</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="fifa-contact">
            <div class="container">
                <ul class="clearfix">
                    <li class="col-wp-2">
                        <dl class="nacgation">
                            <dt>NAVIGATION</dt>
                            <dd><a href="###">Home</a></dd>
                            <dd><a href="###">Sell To Us</a></dd>
                            <dd><a href="###">Contact Us</a></dd>
                            <dd><a href="###">Contact Us</a></dd>
                        </dl>
                    </li>
                    <li class="col-wp-6">
                        <dl class="payments">
                            <dt>PAYMENTS</dt>
                            <dd><img src="../images/payment.png" alt="payments"></dd>
                        </dl>
                    </li>
                    <li class="col-wp-2">
                        <dl class="followus">
                            <dt>FOLLOW US</dt>
                            <dd><img src="../images/ico/us.png" alt="payments"></dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>
        <div class="fifa-copyright">
            Copyright 2016 Privacy Policy | Terms & Conditions
        </div>
    </footer>

    <!-- jQuery first, then Bootstrap JS. -->
    <script src="../js/jquery1.12.4.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/jquery.animateNumber.min.js"></script>
    <script src="../js/app.js"></script>
    <script src="../js/application.js"></script>
    <script>
        // reverse effect
        // var delay = 100;
        // setTimeout(function () {
        //     $('.player-cards>li').each(function (index, item) {
        //         setTimeout(function () {
        //             $(item).children('.ut-item--big-unknown').addClass('rotate-180');
        //             $(item).children('.ut-item-container_header').removeClass('rotate-180');
        //         }, delay * index);
        //     });
        // }, 2000);

        PacksEffect = function () {
            this.FPS = 10;
            this.light_images = [];
            this.imgBaseURL = '../images/packs/light/';
            this.light_across_js = 'light-across-js';
            this.playercard_list_js = 'playercard-list-js';
            this.showCard_delay = 1200;
        }

        PacksEffect.prototype = {
            init: function () {
                this.preloader();
            },
            preloader: function () {
                for (i = 0; i < 20; i++) {
                    this.light_images[i] = new Image();
                    this.light_images[i].src = this.imgBaseURL + (i + 1) + '.png';
                }
            },
            run: function () {
                _this = this;
                var fps = _this.FPS;
                var now;
                var then = Date.now();
                var interval = 1000 / fps;
                var delta;
                var count = 0;

                function tick() {　　
                    if (!_this.light_images[count])
                        return;

                    requestAnimationFrame(tick);　　
                    now = Date.now();　　
                    delta = now - then;　　
                    if (delta > interval) {
                        then = now - (delta % interval);
                        _this.draw(_this.light_images[count].src);
                        count++;
                    }
                }
                tick();

                setTimeout(function(){
                    _this.cardShow();
                }, _this.showCard_delay);
            },
            draw: function (imgURL) {
                $('#' + this.light_across_js).attr('src', imgURL);
            },
            cardFill : function (cardsHtml){
                $('#' + this.playercard_list_js).html(cardsHtml);
            },
            cardShow: function () {
                var _this = this;
                var left = 0,
                    top = 0,
                    time = 0,
                    count = 0,
                    score = 0;
                var length = $('.player-cards').children('li').length;

                setTimeout(function () {
                    $('.value-info').animate({
                        opacity: 1,
                    }, 800);
                }, 400);

                $('#' + 'playercard-list-js>ul').children('li').each(function (index, item) {
                    time += 300;
                    setTimeout(function () {
                        if (count++ == 8) {
                            left = 0;
                            top = 250;
                        }

                        $(item).css({
                            'animation-duration': '0.6s',
                            'animation-fill-mode': 'both'
                        });
                        $(item).addClass('zoomIn01');
                        $(item).animate({
                            top: top,
                            left: left + 'px',
                        }, 500);
                        $(item).find('.text-center').animate({
                            opacity: 1
                        });

                        if (count == 3) {
                            _this.cardLightPlay();
                            setInterval(function () {
                                _this.cardLightPlay();
                            }, 2000);
                        }

                        if (count == length) {
                            $('.btn-group-animation').animate({
                                opacity: 1,
                            }, 1000);

                            $('#' + this.light_across_js).fadeOut();
                        }

                        left += 145;
                        $("#score").prop('number', score).animateNumber({
                            number: score += 1789
                        }, 300);

                    }, time);
                });

            },
            cardLightPlay: function () {
                $(".card-light").animate({
                    "left": "-350px",
                    "transition": "left 1s ease 1s"
                }, 1000, function () {
                    //蓝牌高光
                    $(".card-light").css({
                        "left": "300%"
                    });
                })
            }
        }

        packsEffectObj = new PacksEffect;
        packsEffectObj.init();
        packsEffectObj.run();

    </script>
</body>

</html>